@use "src/styles/mixins.scss";
@use "src/styles/variables.scss" as var;

.recipeSticker {
  position: relative;

  margin-top: 50px;
  padding: 30px 40px;
  max-width: max-content;

  // box-sizing: border-box;

  background-color: #FCEC5270;

  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.1);

  @include mixins.mediaTablet {
    margin-left: 10px;
    padding: 20px 30px;
  }

  &__clip {
    position: absolute;
    top: -40px;
    left: -30px;

    font-size: 50px;

    transform: rotate(270deg);

    @include mixins.mediaTablet {
      top: -44px;
      left: -14px;
    }
  }
}