@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.tipPage {
  @include mixins.mainBox();

  padding: calc(var.$header-hight + 40px) 150px 80px;

  @include mixins.mediaTablet {
    padding: 150px 64px 80px;
  }

  @include mixins.mediaMobile {
    padding: 100px 16px 80px;
  }

  &__container {
    max-width: var.$max-width-recipes;
    margin: 0 auto;
  }

  &__title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;

    margin-bottom: 20px;

    color: var.$main-color-tomato;

    @include mixins.mediaTablet {
      line-height: 35px;
      font-weight: 600;
    }
  }

  &__mainImage {
    width: 700px;
    height: 500px;

    object-fit: cover;

    margin: 30px 0;

    @include mixins.mediaTablet {
      width: 100%;
    }
  }

  &__conclusion {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 900px;
    margin-top: 50px;
    font-size: 22px;
  }
}
