@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.article {
  padding: 54px 40px;
  overflow: hidden;

  border-radius: 4px;

  background: var.$color-pink-opacity;

  @include mixins.mediaTablet {
    padding: 40px 16px;
    min-height: 100vh;
  }

  @include mixins.mediaMobile {
    padding: 30px 16px;
  }

  &__title {
    font-size: 48px;
    letter-spacing: 1px;

    @include mixins.mediaTablet {
      font-size: 38px;
    }

    @include mixins.mediaMobile {
      font-size: 32px;
    }
  }

  &__date {
    color: var.$color-text-opacity;
    font-size: 14px;

    margin: 10px 0 20px;
  }

  &__mainImage {
    // border-radius: 20px;
    width: 100%;
    height: 600px;

    margin-bottom: 40px;
    overflow: hidden;

    @include mixins.mediaTablet {
      height: 400px;
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;

      @include mixins.mediaTablet {
        object-position: 43% 50%;
      }
    }
  }
}
