@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.about {
  @include mixins.mainBox();

  padding: calc(var.$header-hight + 30px) 14% 60px;

  @include mixins.mediaNoteBook {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include mixins.mediaTablet {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include mixins.mediaMobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__intro {
    display: flex;
    gap: 30px;
    align-items: center;

    padding: 30px;
    margin: 0 auto 40px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);

    @include mixins.mediaTablet {
      flex-direction: column;
    }

    @include mixins.mediaMobile {
      gap: 20px;

      padding: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 500px;

      background-color: var.$color-pink;
      opacity: 0.3;
    }

    &__image {
      object-fit: cover;
      width: 55%;

      @include mixins.mediaNoteBook {
        width: 50%;
      }

      @include mixins.mediaTablet {
        width: 100%;
        max-height: 400px;
      }
    }

    &__text {
      width: 45%;

      @include mixins.mediaNoteBook {
        width: 50%;
      }

      @include mixins.mediaNoteBook {
        width: 100%;
      }

      &__title {
        font-size: 40px;
        font-weight: 600;

        margin-bottom: 30px;

        @include mixins.mediaTablet {
          font-size: 37px;

          margin-bottom: 20px;
        }

        @include mixins.mediaMobile {
          font-size: 30px;

          margin-bottom: 10px;
        }
      }

      &__desc {
        letter-spacing: 0.5px;

        &:first-of-type {
          margin-bottom: 10px;
        }

        @include mixins.mediaTablet {
          letter-spacing: 0;
        }
      }
    }
  }

  &__socials {
    margin-top: 60px;

    @include mixins.mediaMobile {
      margin-top: 20px;
    }
  }
}

.textImagePair {
  margin-top: 10px;

  &__textBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__textMain {
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
  }

  &__imageBox {
    display: flex;
    justify-content: space-around;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 30px;
    margin-bottom: 30px;

    @include mixins.mediaNoteBook {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include mixins.mediaMobile {
      grid-template-columns: repeat(1, 1fr);
    }

    &__image {
      width: 100%;
      min-width: 200px;

      object-fit: cover;

      -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.3);

      transition: transform 0.3s ease;

      cursor: pointer;

      @include mixins.mediaNoteBook {
        height: 350px;
      }

      @include mixins.mediaTablet {
        min-width: none;
      }

      &:nth-child(even) {
        transform: rotate(10deg);

        @include mixins.mediaNoteBook {
          transform: rotate(0);
        }
      }

      &:nth-child(odd) {
        transform: rotate(-5deg);

        @include mixins.mediaNoteBook {
          transform: rotate(0);
        }
      }

      @include mixins.hover {
        &:hover {
          z-index: 3;
          transform: rotate(0) scale(1.5);
        }
      }
    }
  }
}
