@use "src/styles/variables.scss" as var;

.recipeHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__ingredientsBox {
    max-width: 400px;
    height: max-content;

    &__title {
      color: var.$main-color-tomato;
      font-size: 25px;
      font-weight: 800;

      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
  }

  &__descFirst {
    margin-top: 20px;
    max-width: var.$max-width-recipe-image;
  }

  img {
    margin-top: 30px;
    max-width: var.$max-width-recipe-image;
    object-fit: cover;
    object-position: center;
  }

  &__rightCol {
    max-width: var.$max-width-recipe-image;

    p {
      margin-top: 20px;
    }
  }
}