@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.recipeHeader {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  width: 100%;

  @include mixins.mediaNoteBook {
    flex-direction: column;
    gap: 0;
  }

  &__intro {
    width: 100%;
    max-width: var.$max-width-recipe-image;

    @include mixins.mediaNoteBook {
      max-width: 100%;
    }

    &__title {
      font-family: 'Cormorant Garamond', serif;
      font-size: 60px;
      font-weight: 800;
      font-style: italic;
      color: #000;

      margin: 20px 0;

      @include mixins.mediaTablet {
        font-size: 40px;
        line-height: 32px;
      }

      @include mixins.mediaMobile {
        font-size: 32px;
      }
    }
  }

  &__mainImage {
    width: 100%;
    max-height: 600px;

    object-fit: cover;
    object-position: center;

    @include mixins.mediaMobile {
      max-height: 400px;
    }
  }

  &__ingredientsBox {
    max-width: 400px;
    height: max-content;

    &__title {
      color: var.$main-color-tomato;
      font-size: 25px;
      font-weight: 800;

      margin-bottom: 20px;
    }
  }

  &__favsInfo {
    margin-top: 10px;
    color: var.$color-pink;
  }

  &__descFirst {
    margin: 20px 0 30px;
  }

  &__rightCol {
    p {
      margin-top: 20px;
    }
  }
}
