@use "src/styles/mixins.scss";
@use "src/styles/variables.scss" as var;

.imageBox {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;

  width: max-content;
  max-width: 1000px;
  margin-top: 20px;

  @include mixins.mediaTablet {
    width: 100%;
  }

  &_last {
    flex-direction: column;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 500px;

    &_last {
      object-fit: contain;
      width: 800px;
      height: auto;

      @include mixins.mediaNoteBook {
        width: 600px;
      }

      @include mixins.mediaTablet {
        width: 100%;
      }
    }
  }
}
