@use "src/styles/mixins.scss";
@use "src/styles/variables.scss" as var;

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
  }

  &__favs {
    position: relative;
    cursor: pointer;

    svg {
      @include mixins.square(30px);
      transform: scale(1);

      transition: transform .2s ease-in-out;

      &:active {
        transform: scale(0.9);
      }

      path {
        fill: var.$main-color-tomato;
        opacity: 0.2;
        transition: opacity .3s ease;
      }
    }

    &_active {
      svg {
        path {
          opacity: 1;
        }
      }
    }

    // &_helperText {
    //   position: absolute;
    //   left: -150%;
    //   bottom: -20px;

    //   width: max-content;

    //   font-size: 12px;
    //   color: var.$main-color-tomato;
    //   opacity: .7;
    // }
  }
}