@use "src/styles/mixins.scss";
@use "src/styles/variables.scss" as var;

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
  }

  &__favs {
    cursor: pointer;

    svg {
      @include mixins.square(30px);

      path {
        fill: #ffffff;
        stroke: var.$main-color-tomato;
        transition: fill .3s ease;
      }
    }

    &_active {
      svg {
        path {
          fill: var.$main-color-tomato;
        }
      }
    }
  }
}