@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.article {
  margin-bottom: 40px;
  padding: 0 50px;

  @include mixins.mediaTablet {
    padding: 0 30px;
  }

  @include mixins.mediaMobile {
    padding: 0 20px;
  }

  &_shadowBox {
    padding: 60px;

    -webkit-box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 18px -3px rgba(212, 212, 212, 1);

    @include mixins.mediaTablet {
      padding: 30px 5%;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 600;

    margin-bottom: 10px;
  }
}
