@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

* {
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

html, body {
  width: 100%;
}

html {
  @include mixins.scrollBar();
}
  
body {
  margin: 0;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  color: var.$color-text;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: var.$color-text;
}
