$main-color-tomato: #FB3800;
$color-pink: #fc9187;
$color-apricot: #FCC100;
$color-blue: #30A49A;
$color-text: #444444;

$max-width-recipe-image: 728px;
$box-min-height: calc(100vh - 70px);
$max-width-main: 1900px;
$max-width-recipes: 1400px;

$header-hight: 80px;
