@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.steps {
  margin-top: 50px;

  &__step {
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 40px;
    font-weight: 600;
    color: var.$main-color-tomato;
    font-family: 'Cormorant Garamond', serif;
  }

  &__lastImage {
    margin-top: 20px;

    object-fit: contain;
    width: 800px;
    height: auto;

    @include mixins.mediaNoteBook {
      width: 600px;
    }

    @include mixins.mediaTablet {
      width: 100%;
    }
  }
}
