@use "src/styles/variables.scss" as var;

.ingredientsList {
  list-style: none;

  &__checkbox {
    margin-right: 5px;
  }

  &__item {
    &_checked {
      text-decoration: line-through;
    }
  }

  // li::marker {
  // color: var.$main-color-tomato;
  //   font-size: 15px;
  //   margin-bottom: 5px;
  //   margin-right: 5px;
  // }
}
