@use 'src/styles/variables.scss' as var;
@use 'src/styles/mixins.scss';

.ingredientsList {
  list-style: none;

  &__inputBox {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: opacity 0.3s ease;

    cursor: pointer;

    &__checkbox {
      display: none;
    }

    &__checkmarkBox {
      position: relative;

      @include mixins.square(15px);
      min-width: 15px;

      border-radius: 5px;
      border: 1px solid var.$color-text-opacity;

      background-color: transparent;

      &__checkmark {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2px;
        margin: auto;

        width: 22px;
        height: auto;

        opacity: 0;

        transition: opacity 0.3s ease;

        path {
          fill: var.$color-text-opacity2;
        }
      }
    }

    &_checked {
      text-decoration: line-through;
      opacity: 0.77;
    }

    &_checked &__checkmarkBox {
      &__checkmark {
        opacity: 1;
      }
    }
  }
}
