@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.errorPlug {
  @include mixins.mainBox();
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    max-width: 800px;

    padding: 0 16px;
  }

  &__icon {
    width: 200px;
    height: 200px;

    opacity: .7;
  }

  &__text {
    margin-top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: var.$main-color-tomato;

    @include mixins.mediaMobile {
      font-size: 25px;
    }
  }
}