@tailwind base;
// @tailwind components;
// @tailwind utilities;
// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,800;1,500;1:600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Montserrat', sans-serif;
}


@layer base {
    html {
      font-family: 'Montserrat', sans-serif;
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
//   background-color: #FCC10020;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
