@use 'src/styles/variables.scss' as var;

.recipeTips {
  max-width: 800px;

  &__title {
    font-weight: 600;
    font-size: 25px;
    color: var.$main-color-tomato;
    margin-bottom: 15px;
  }

  &__info {
    margin-bottom: 10px;

    &__title {
      font-weight: 600;
      font-style: italic;
      margin-bottom: 5px;
    }

    &__text {
      display: inline;

      &_link {
        display: inline;
        color: var.$main-color-tomato;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
