@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.tips {
  @include mixins.mainBox();

  padding: 150px 64px;

  @include mixins.mediaTablet {
    padding: 150px 32px 100px;
  }

  @include mixins.mediaMobile {
    padding: 125px 16px 100px;
  }

  &__title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;

    color: var.$main-color-tomato;

    @include mixins.mediaTablet {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    margin: 30px auto 0;

    @include mixins.mediaTablet {
      max-width: 400px;
    }
  }
}