@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.tips {
  @include mixins.mainBox();

  padding: 150px 64px;

  &__title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;

    color: var.$main-color-tomato;
  }

  &__list {
    display: flex;
    gap: 20px;
    margin-top: 30px; 
  }
}