@use "src/styles/variables.scss" as var;

$main-margin-left: 200px;

.recipe {
  margin-bottom: 100px;

  &__header {
    margin-top: 50px;
    padding-left: $main-margin-left;
    width: 100%;
    max-width: 1000px;

    &__title {
      font-family: "Cormorant Garamond", serif;
      font-size: 30px;
      font-weight: 800;
    }

    &__descFirst {
      margin-top: 20px;
    }

    img {
      margin-top: 30px;
      max-width: 728px;
      object-fit: cover;
      object-position: center;
    }

    &__rightCol {
      p {
        margin-top: 20px;
      }
    }
  }

  &__prep {
    margin-left: $main-margin-left;
    margin-top: 50px;
    padding: 15px 50px;
    box-sizing: border-box;
    background-color: var.$color-apricot;
    width: max-content;

    &__title {
      font-weight: 700;
    }
  }
}
