@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.socials {
  display: flex;
  gap: 30px;

  &_mobMenu {
    margin-bottom: 140px;
  }

  &__link {
    transform: scale(1);
    transition: transform 0.3s ease;

    @include mixins.hover {
      &:hover {
        transform: scale(1.1);
      }
    }

    &_inSection {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__icon {
    &_mobMenu,
    &_inSection {
      fill: var.$main-color-tomato;

      circle {
        fill: var.$main-color-tomato;
      }

      &_tiktok {
        path {
          fill: #fff;
        }
      }
    }
  }

  &__title {
    color: var.$main-color-tomato;
    font-style: italic;
  }
}
