@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

$icon-diameter: 18px;

@mixin swipeIcons() {
  position: absolute;
  z-index: 2;
  top: 50%;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: background-color 0.3s ease;

  cursor: pointer;

  @include mixins.mediaTablet {
    display: none;
  }

  svg {
    display: flex;

    path {
      stroke: var.$color-pink;
    }
  }
}

.recipesSwiper {
  width: 100%;

  :global(.swiper-pagination-bullet) {
    background-color: var.$color-pink;
  }

  :global(.swiper-button-prev) {
    color: var.$color-pink;
    left: -10px;
    z-index: 2;
  }

  &__slide {
    min-height: 380px;
  }
}

.nextIcon {
  @include swipeIcons();
  right: 44px;
}

.prevIcon {
  @include swipeIcons();
  left: (64px - $icon-diameter);
}
