@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.favsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include mixins.mediaTablet {
    max-width: 150px;

    margin-bottom: 16px;
  }

  &__button {
    position: relative;

    cursor: pointer;

    svg {
      @include mixins.square(30px);
      transform: scale(1);

      transition: transform 0.2s ease-in-out;

      &:active {
        transform: scale(0.9);
      }

      path {
        fill: var.$main-color-tomato;
        opacity: 0.2;
        transition: opacity 0.3s ease;
      }
    }

    @include mixins.hover {
      &:hover svg path {
        opacity: 1;
      }
    }

    &_active {
      svg {
        path {
          opacity: 1;
        }
      }
    }
  }

  &__info {
    font-style: italic;
    color: var.$color-text-opacity2;

    @include mixins.mediaTablet {
      font-size: 14px;
      text-align: end;
    }

    @include mixins.mediaMobile {
      display: none;
    }
  }
}
