@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.main {
  @include mixins.mainBox();
  min-height: max-content;

  &__container {
    display: flex;
    width: 100%;
    height: calc(100vh);
    margin: 0 auto;
    padding-top: 100px;
  }
}

.home {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;

  &__title {
    font-size: 32px;
    font-weight: 500;
    max-width: 500px;
    line-height: 45px;
    color: var.$main-color-tomato;
  }

  &__subtitle {
    margin-top: 40px;
    max-width: 500px;
  }
}

.button {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;

  &__text {
    position: relative;
    z-index: 2;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid var.$color-pink;
    color: var.$color-pink;
    font-style: italic;
    transition: all .3s ease;
    background-color: inherit;
  }

  svg {
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    z-index: 0;
    transform: translateX(-25px);
    transition: all .3s ease;

    path {
      fill: var.$color-pink;
      transition: all .3s ease;
    }
  }

  &:hover {
    border-bottom-color: var.$main-color-tomato;
  }

  &:hover &__text {
    color: var.$main-color-tomato;
    padding-left: 30px;
  }

  &:hover svg {
    transform: translateX(0);
    path {
      fill: var.$main-color-tomato
    }
  }

  &:active {
    transform: scale(0.9);
  }
}