@use "src/styles/mixins.scss";
@use "src/styles/variables.scss" as var;

.nav {
  justify-self: center;
  width: max-content;

  &_mobMenu {
    margin: 0 auto;
    padding-top: 120px;
  }

  &__list {
    display: flex;
    gap: 50px;

    &_mobMenu {
      flex-direction: column;
    }
  }

  &__link {
    position: relative;

    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;

    transition: color 0.3s ease;

    cursor: pointer;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 0;
      height: 1px;
      background-color: var.$main-color-tomato;

      transition: width 0.3s ease;
    }

    &:hover {
      color: var.$main-color-tomato;

      &::after {
        width: 100%;
      }
    }

    &_active {
      color: var.$main-color-tomato;

      &::after {
        width: 100%;
      }
    }

    &_footer {
      color: #ffffff;

      &:hover {
        color: #ffffff;

        &::after {
          background-color: #ffffff;
          width: 100%;
        }
      }
    }

    &_mobMenu {
      text-align: center;
      font-size: 20px;
    }
  }
}
