@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.headerDesktop {
  height: 100%;

  @include mixins.mediaTablet {
    display: none;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__nav {
    justify-self: center;
    width: max-content;

    ul {
      display: flex;
      column-gap: 50px;
    }
  }

  &__navLink {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 500;

    border-bottom: 1px solid transparent;

    padding: 0 5px;

    transition: color 0.3s ease;
    transition: border-bottom-color 0.2s ease-in;

    cursor: pointer;

    &_active,
    &:hover {
      border-bottom-color: var.$main-color-tomato;
      color: var.$main-color-tomato;
    }
  }
}
